* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Segoe UI,
    sans-serif;
  color: var(--text);
  scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  position: relative;
}

.section-title {
  font-size: 40px;
  margin-bottom: 40px;
}
