.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

.home-center {
  text-align: center;
}

.about-container {
  text-align: center;
  max-width: 900px;
}

.about-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
